  .cont_ul {
    display: flex;
    width: 100%;
    justify-content: space-between;

    li:nth-child(1) {
      color:  #fff;
      font-family: 'Poppins', sans-serif;
      font-size: 28px;
      font-style: normal;
      font-weight: 600;
      line-height: 120%; /* 15.6px */

      @media (max-width: 768px) {
        font-size: 10px;
      }
    }
  }

  .text {
    width: 80%;
    color:  #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    margin: 0 0 10px 8px;
    text-align: left;

    @media (max-width: 768px) {
        font-size: 10px;
        width: 270px;
      }
  }

  .hide {
  display: none;
}

