.cont {
 background:linear-gradient(rgba(229, 205, 205, 0.9), rgba(216, 187, 187, 0.9), rgba(0, 0, 0, 0.9)), url('../../../public/images/b-background.png') ;
 background-size: contain;
 background-repeat: no-repeat;
 position: relative;
 z-index: 5 !important;
}